<html>
<% include header %>
<p></p>
Create Brain Wallet - Enter a Wallet Passphrase
	<form method="post" action="/wallet">
		<input type="text" name="brainsrc">
		<input type="submit" value="Create">
	</form>
</html>
